.webcamContainer {
  display: flex;
  background-color: var(--gray);
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  flex-direction: column;
}

.webcam {
  position: absolute;
  width: 40%;
  height: 40%;
  margin-bottom: 2%;
  /* border-radius: 100px; */
  left:0;
  right:0;
  z-index: 9;
}

.canvas {
  position: absolute;
  left:0;
  right:0;
  z-index: 9;
  width: 40%;
  height: 40%;
  margin-bottom: 2%;
  /* background-color: blue; */
}
